@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
    background: #010101;
    font-size:62.5%;
    font-family: 'Quicksand', sans-serif;
}
html, body { overflow: hidden; }

#banner {
/*	background: rgba(142, 68, 173, 0.15);*/
	position: absolute;
	top: 50px;
	left: 50px;
	width: 210px;
	text-align: center;
  z-index: 999999;
}

a {
  border-bottom: dotted 1px #999;
    text-decoration: none;
  color: #999;
}

a:hover {
  color: #C0392B;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: lighter;
/*	border-bottom: solid #fff 1px;
	padding-bottom: 5px;*/
}

.neon {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.red {
	color: #C0392B;
}

.button-small{
    color: #fff !important;
    word-spacing: 0.25em;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   border: none;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
}
.button-small:visited{
      color: #fff;
}
.button-small{
    padding: 6px 12px 5px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    text-shadow: none;
    cursor: pointer;
}
.button-small:hover{
    color: rgba(255,255,255, 0.75);
    text-decoration: none;
    -webkit-box-shadow:inset 0 10px 20px rgba(255,255,255, 0.10);
    -moz-box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
    box-shadow: inset 0 10px 20px rgba(255,255,255, 0.10);
}
.button-small:active {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}
.rounded3 {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.reddish {
    background: #d5383c;;
}

.pretty-form{
  position: relative;
  padding: 5px;
}
.pretty-form input[type="text"]{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed #8E44AD;
  background: #000;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  
  font-size: 1.5em;
  padding: 0.6em 0.6em;
  width: 100%;
}

.credits {
	color: #999;
	font-size: 110%;
	line-height: 2;
}

*::-webkit-input-placeholder { color: #999;}
*:-moz-placeholder { color: #999;}
*::-moz-placeholder { color: #999;}
*:-ms-input-placeholder { color: #999;}

.share {
  margin-left: 50px;
}

.share a {
  border-bottom-width: 0;
}