<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital Diwali - Happy Diwali as a Service</title>

    <!-- If Chrome Frame is enabled, let's use it! -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />

    <meta name="Description" content="Digital Diwali is here!" />
    <meta name="keywords" content="diwali, deepawali, greetings, crackers, skyline, hack" />
    <link rel="shortcut icon" href="/static/favicon.png" />

    <!-- Load jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Load Canvas support for IE8 and below (IE9 support Canvas) -->
    <!--[if lt IE 9]><script src="excanvas.js"></script><![endif]-->

    <!-- Load the fireworks script and stylesheet -->
    <script type="text/javascript" src="/static/fireworks.js"></script>
    <link type="text/css" href="/static/app.css" rel="stylesheet" />
    <link href="/static/fireworks2.css" rel="stylesheet">
</head>
<body>
    <div id="banner">
        <h1>Wish <span class="red">Happy Diwali!</span></h1>
            <div class="pretty-form">
                <input id="sender_name" type="text" placeholder="Your name">
            </div>
            <div class="pretty-form">
                <input id="receiver_name" type="text" placeholder="A friend's name">
                <input type="hidden" id="firetext" value="WISH YOU HAPPY-DIWALI">
                <input type="hidden" id="sender" value="{{sender}}">
                <input type="hidden" id="receiver" value="{{receiver}}">
            </div>
            <br>
            <button class="button-small reddish rounded3" id="greetbutton">Greet</button>
            <div class="credits">Made with <span class="red">&hearts;</span> by <a href="http://fb.com/sanketsaurav">Sanket</a> &amp; <a href="https://www.facebook.com/profile.php?id=100003645443086">Abhishek</a>.<br>Open-source, all-nighter masterpiece.<br>Inspired by so many things.</div>
            <br>
            <br>
            <div class="credits">
                Press <strong>any key</strong> for fireworks.<br>
            </div>
            <br><br>
            <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style share">
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
</div>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<br>
    <a href="http://dfth.in">#dfth</a>
    </div>
    <aside id="library">
      <img src="/static/big-glow.png" id="big-glow" />
      <img src="/static/small-glow.png" id="small-glow" />
    </aside>
    <script>
    $("#greetbutton").on('click',function() {
        var sender_name = $("#sender_name").val();
        var receiver_name = $("#receiver_name").val();
        if (sender_name && receiver_name) {
            url = 'http://diwali.dfth.in/' + sender_name + '/' + receiver_name;
            document.location = url;
        }
    });
    </script>
    <script src="/static/requestanimframe.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    <script src="/static/fireworks2.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#mainCanvas").css({'z-index' : '1000'});
              $("#cv").css({'z-index' : '2000'});
              $("#bg").css({'z-index' : '2000'});
        });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45400301-1', 'dfth.in');
  ga('send', 'pageview');

</script>
</body>
</html>